<!DOCTYPE html>
<html>
<head>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.js"></script>
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <!--Datepicker cdn's-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.css" />
    
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <!--pass can to variable for js-->
    <script> 
        var can = JSON.parse('<%-(can)%>');
        console.log(can);
    </script>          
    
	<title> Cost Calculator</title>
</head>
<body>
    
<br />
<div class="ui container"> 
    <h1 style="text-align:center;">Cost Calculator</h1>
    <div class="ui section divider"></div>
</div>
    
<div class="ui two column stackable grid container">
  <div class="column">
    <div class="ui segment">
        <div id="calc-form">
        <form action="/" method="post" class="ui form">
           
        	<h3>GENERAL INFORMATION <i class="expandEntryIcon link fas fa-minus"></i></h3>
        	<div class="collapsible field" id="general-info">
        			<label>Name:</label>
        			<input type="text" name="can[name]" placeholder="candidate name">
        		
        			<label>Job Title:</label>
        			<input type="text" name="can[jobTitle]" placeholder="job title">
        	</div>
            
        	<div class="ui section divider"></div>
        	
        	<h3>CLIENT & BILLING <i class="expandEntryIcon link fas fa-plus"></i></h3>
    	     <div class="field collapsible">   	
       			<label>Client:</label>
				<select class="ui dropdown select-box" name="can[client]">
    				<option >Select a client</option>
    				<% clients.forEach(function(clients){ %>
        				<% if(clients.active === true){ %>
                            <option class="item">
                                <%= clients.name %>
                            </option>
                        <% } %>
                    <% }); %>
				 </select>
			
			     <label>Discount Rate:</label>
			     <div class="ui icon input">
    			     <input type="number" name="can[discountRate]" min="0" max="100" placeholder="discount rate">
    			     <i class="percent icon"></i>
    	        </div>
    			<label>Bill Rate:</label>
    			<div class="ui left icon input">
    			    <i class="dollar icon"></i>
    			    <input type="number" name="can[billRate]" placeholder="bill rate">
    			</div>
    	     </div>

        	<div class="ui section divider"></div>

        	<h3>COMPENSATION <i class="expandEntryIcon link fas fa-plus"></i></h3>
        	    <div class="field collapsible">   		
        			<label>Compensation Type:</label>
        			<div class="two inline fields">
                        <div class="ui radio checkbox field">
            				<input type="radio" value="hourly" name="can[compType]" />
            				<label for="hourly">Hourly</label> 		
                        </div>
                        <div class="ui radio checkbox field">
            				<input type="radio" value="salary" name="can[compType]" />
            				<label for="salary">Salary</label> 
                        </div>  		
        			</div>
        		
        			<label>Compensation Rate:</label>
        			<div class="ui left icon input">
        			    <i class="dollar icon"></i>
        			    <input type="number" name="can[compRate]" placeholder="compensation rate">
    			    </div>
        		
        			<label>Vacation Days:</label>
        			<input type="number" name="can[vacDays]" placeholder="vacation days">
        		</div> 

            <div class="ui section divider"></div>

        	<h3>HEALTH BENEFITS <i class="expandEntryIcon link fas fa-plus"></i></h3>
        	<div class="collapsible">
                <div class="two inline fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                		  <input type="checkbox" name="can[empHealth]"> <label>Employee</label>
                        </div>
                    </div>
                    <div class="disabled field disabled-field">    
                        <label>Date of Birth: </label>
                        <div class="ui calendar form-calendar">
                          <div class="ui input left icon calendar-width">
                            <i class="calendar icon"></i>
                            <input type="text" name="can[empDOB]" >
                          </div>
                        </div>
                    </div>
                </div>
    
                <div class="two inline fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="can[spoHealth]"> <label>Spouse</label>
                        </div>
                    </div>
                    
                    <div class="disabled field disabled-field">    
                        <label>Date of Birth: </label>
                        <div class="ui calendar form-calendar">
                          <div class="ui input left icon calendar-width">
                            <i class="calendar icon"></i>
                            <input type="text" name="can[spoDOB]" >
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="two inline fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="can[chiHealth]"> <label>Children</label>
                        </div>
                    </div>
                    <div class="disabled field disabled-field">    
                        <label>Number of children: </label>
                        <input type="number" name="can[children]" class="ui input" style="width:100%;">
                    </div>
                </div>
    
                <div class="field">
    
            		<label>Dental Coverage:</label>
        			<select class="ui dropdown select-box" name="can[dental]">
        				<option value="dentNone"> - None - </option>
        				<option value="dentEmp"> Employee </option>
        				<option value="dentEmpSpo"> Employee + Spouse </option>
        				<option value="dentEmpChi"> Employee + Children </option>
        				<option value="dentFamily"> Family </option>
        			</select>
    
            		<label>Vision Coverage:</label>
        			<select class="ui dropdown select-box" name="can[vision]">
        				<option value="visNone"> - None - </option>
        				<option value="visEmp"> Employee </option>
        				<option value="visEmpSpo"> Employee + Spouse </option>
        				<option value="visEmpChi"> Employee + Children </option>
        				<option value="visFamily"> Family </option>
        			</select>    	   
               </div>
            </div>
            
    	<div class="ui section divider"></div>
    	<button type="submit" name="Calculate" class="ui primary button"><i class="fa fa-calculator"></i>&nbsp; Calculate</button>
    	<button type="submit" name="Add to queue" class="ui positive button"><i class="fa fa-plus"></i>&nbsp; Add to queue</button>
	  </form>
	  </div>
    </div>
  </div>

        <!--Output area-->
    	<% if (JSON.parse(can).hasOwnProperty("results")) { %>
    	  <div class="ui column">
            <div class="ui segment">
        	    <table class="ui celled table">
                    <thead>
                        <tr>
                          <th>Metric</th>
                          <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(JSON.parse(can).results.interim.profitMargin > 10){ %> 
                            <tr class="positive"> 
                        <% } else if(JSON.parse(can).results.interim.profitMargin < 3){ %> 
                            <tr class="negative">
                        <% } else { %>
                            <tr>
                        <% } %>
                                
                          <td>Profit margin</td>
                          <td><%= " " + JSON.parse(can).results.interim.profitMargin + "%" %></td>
                        </tr>
                        <% if(JSON.parse(can).results.interim.profitHourly > 5){%>
                            <tr class="positive"> 
                        <% } else if(JSON.parse(can).results.interim.profitHourly < 1){ %> 
                            <tr class="negative">
                        <% } else { %>
                            <tr>                    
                        <% } %>
                        
                          <td>Agency's hourly profit</td>
                          <td><%= "$ " + Math.round(JSON.parse(can).results.interim.profitHourly*100)/100%></td>
                        </tr>
                        <tr>
                          <td>Employee's monthly cost of health benefits</td>
                          <td><%= "$ " + Math.round(JSON.parse(can).results.interim.candidateHealthcare*100)/100 %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div>
</div>

<script type="text/javascript" src="./assets/index.js"></script>
<script type="text/javascript" src="./assets/seeds.js"></script>

</body>
</html>